<!DOCTYPE html>
<html>

<head>
    <title>Image uploader</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="font-awesome.min.css">
</head>

<body ng-app="photo-upload">
    <h2>Image uploader</h2>
    <div ng-controller="uploadCtrl">
        <div class="img-card">
            <img class="responsive" ng-src="{{uploadRes.url}}" alt="uploaded image">
        </div>
        <pre>
            {{uploadRes}}
            </pre>
        <input type="file" accept="image/*" name="logo" multiple ng-files="getTheFiles($files)">
        <button ng-click="uploadPhoto()">Click here to upload...</button>
        <hr>
        <!-- https://www.cs.tut.fi/~jkorpela/forms/file.html -->
        <i ng-if="uploading" class="fa fa-spinner spnr" aria-hidden="true"></i>
    </div>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="app.js"></script>
</body>

</html>
